body{
    background-color: rgb(12, 12, 12);
}
ul
{
    list-style-type: none;
}
 .movie-card  a
 {
      color: blanchedalmond;
      font-size: 20px;
 }
 .movie-card  a:hover
 {
     padding-bottom: 20px;
      border-bottom: 1px solid green;
 }
h3{
    
    color: blanchedalmond;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    padding: 20px;
    display: inline-block;
}
.movie-card img{
    width: 280px;
    height: 250px;
    object-fit: cover;
    
}
.movie-card{
    margin-right: 3%;
}